@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #ffa600;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
h2 {
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
}
#seconds,
#minutes,
p {
  display: flex;
  align-items: center;
  font-size: 2em;
  color: #fff;
}
.buttons {
  display: flex;
  gap: 15px;
}
button {
  width: 180px;
  color: white;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 10px 18px;
  font-size: 1.2em;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  outline: none;
}
button:hover {
  transition: 0.5s ease-in-out;
  background: #fff;
  color: #ffa600;
}
